/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0 10px;
    min-height: 100vh;
    background: #5372F0;
    --red: #f91880;
    --yellow: #ef7d31;
    --green: #00ba7c;
}

.container {
    margin: 10px auto;
    width: 440px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 1px;
}

.container h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 16px 25px;
    border-bottom: 1px solid #ccc;
}

.container .content {
    margin: 25px 20px 35px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: hsl(240, 40%, 60%, 0.9);
}

th {
    background-color: hsl(240, 40%, 60%, 0.5);
}

th,
td {
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    color: white;
}

.content input {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0 16px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

.content input:focus {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.content input::placeholder {
    color: #aaa;
}

.content input:focus::placeholder {
    color: #bfbfbf;
}